# Убрали "http://", теперь Caddy сам включит HTTPS
rvm-auto-admin.xyz {

    # ЭТА СТРОКА ВАЖНА:
    # Она говорит Caddy: "Создай локальный сертификат и не пытайся стучаться в Let's Encrypt TODO: убрать на проде"
    # TODO: убрать на проде
    #tls internal

    # Логирование (полезно для отладки)
    log {
        output stdout
    }

    # 1. Python сервис
    handle_path /ai-api/* {
        reverse_proxy postiz-python-service:8000
    }

    # 2. Основной сайт (Postiz)
    handle {
        reverse_proxy postiz:5000
    }
    handle /privacy {
        root * /srv             # Ищем файлы в папке /srv (это твоя папка legal)
        try_files /privacy.html # Отдаем конкретный файл
        file_server             # Включаем модуль раздачи файлов
    }

    # Если запрашивают /terms
    handle /terms {
        root * /srv
        try_files /terms.html
        file_server
    }
}